@use 'variables' as vars;

$striped-row-color: #F4F4F4;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

.material-symbols-outlined:not(.add-btn):hover {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.add-btn {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.exercise-table .mdc-data-table__header-cell {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

// Suppress material row highlighting behavior
.exercise-table .mdc-data-table__row:hover {
  background-color: unset;
}

.exercise-table tr:not(.mat-mdc-header-row, .mat-mdc-footer-row):nth-child(odd) {
  background-color: $striped-row-color;
}
