@use 'variables' as vars;

$striped-row-color: #F4F4F4;

app-exercises {
  display: block;
  height: 100%;
}

.mat-mdc-tab-body-content {
  overflow: unset;
}

mat-tab-group, .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

.material-symbols-outlined:not(.add-btn):hover {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.add-btn {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.exercise-table .mdc-data-table__header-cell {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.exercise-table tr:not(.mat-mdc-header-row, .mat-mdc-footer-row):nth-child(odd) {
  background-color: $striped-row-color;
}

// Suppress material row highlighting behavior
.exercise-table .mdc-data-table__row:hover {
  background-color: unset;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}


