/* You can add global styles to this file, and also import other style files */
@use 'variables';
@use 'anaerobic-exercises.component';

html, body { height: 100%; }
body {
  margin-top: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: calc(100vw - 100%);
}
