/* You can add global styles to this file, and also import other style files */
@use 'variables';
@use 'app.component';
@use 'navbar.component';
@use 'sidenav.component';
@use 'main-content.component';
@use 'exercises.component';
@use 'schedule.component';

html, body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
