<div *ngIf="anaerobic_exercises === undefined" style="margin-left: 50%; margin-top: 10%;">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="anaerobic_exercises !== undefined" style="width: 75%; margin-left: auto; margin-right: auto;">
  <div>
    <button mat-stroked-button (click)="accordion.openAll()">Expand All</button>
    <button mat-stroked-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion multi="true">
    <div *ngFor="let muscleGroup of muscle_groups; let mg_idx = index">
      <mat-expansion-panel [expanded]="mg_idx == 0">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>{{muscleGroup.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let muscleRegion of getMuscleRegionsInGroup(muscleGroup.id)">
          <table mat-table [dataSource]="getAnaerobicExercisesInRegion(muscleRegion.id)" class="exercise-table mat-elevation-z2">
            <!-- Column definitions -->
            <ng-container matColumnDef="muscleRegionName">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">{{muscleRegion.name}}</th>
            </ng-container>

            <ng-container matColumnDef="{{col.key}}" *ngFor="let col of columnSchema">
              <td mat-cell *matCellDef="let exercise;" style="{{col.style}}">
                <!-- Read display -->
                <div ngSwitch="{{col.type}}" *ngIf="!isEditingOrCreating(exercise.id)">
                  <div *ngSwitchCase="'edit_or_done'">
                    <span class="material-symbols-outlined" (click)="startEdit(exercise.id);" matTooltip="Edit">
                      edit
                    </span>
                  </div>
                  <div *ngSwitchCase="'delete_or_cancel'">
                    <span class="material-symbols-outlined" (click)="openDialog(exercise.id, exercise.name)" matTooltip="Delete">
                      delete
                    </span>
                  </div>
                  <div *ngSwitchDefault>
                    <span *ngIf="exercise[col.key].constructor.name === 'Array'; else defaultDisplay">
                      {{exercise[col.key].join(', ')}}
                    </span>
                    <ng-template #defaultDisplay>{{exercise[col.key]}}</ng-template>
                  </div>
                </div>

                <!-- Edit display -->
                <div ngSwitch="{{col.type}}" *ngIf="isEditingOrCreating(exercise.id)">
                  <div *ngSwitchCase="'edit_or_done'">
                    <span class="material-symbols-outlined" (click)="saveChanges(exercise);" matTooltip="Confirm">done</span>
                  </div>
                  <div *ngSwitchCase="'delete_or_cancel'">
                    <span class="material-symbols-outlined" (click)="cancelEdit(exercise.id);" matTooltip="Cancel">close</span>
                  </div>
                  <div *ngSwitchCase="'map'">
                    <mat-form-field appearance="fill">
                      <mat-label>{{col.label}}</mat-label>
                      <mat-select ngDefaultControl [(ngModel)]="exercise[col.key]" multiple>
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let item of col.source | keyvalue" [label]="item.key">
                          <mat-option *ngFor="let val of item.value" [value]="val">{{val}}</mat-option>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div *ngSwitchDefault>
                    <mat-form-field appearance="fill">
                      <mat-label>{{col.label}}</mat-label>
                      <input matInput [(ngModel)]="exercise[col.key]">
                    </mat-form-field>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Add -->
            <ng-container matColumnDef="add">
              <td mat-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                <button mat-stroked-button style="width: 100%;" (click)="addRow(muscleRegion);">
                  <span style="padding: 50%;" class="material-symbols-outlined add-btn">add</span>
                </button>
              </td>
            </ng-container>
            <!-- End column definitions -->

            <!-- Row definitions -->
            <!-- Header -->
            <tr mat-header-row *matHeaderRowDef="['muscleRegionName']"></tr>

            <!-- Data -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- No data -->
            <tr class="mat-mdc-row mdc-data-table__row" *matNoDataRow>
              <td class="mat-mdc-cell mdc-data-table__cell"><i>No data to display</i></td>
            </tr>

            <!-- Add button -->
            <tr mat-footer-row *matFooterRowDef="['add']"></tr>
            <!-- End row definitions -->
          </table>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
