@use '../node_modules/@angular/material/index' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 400, 200, 700);
$accent: mat.define-palette(mat.$pink-palette, A100, A200, A400);

$workout-planner-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core-theme($workout-planner-theme);

@include mat.button-theme($workout-planner-theme);
@include mat.expansion-theme($workout-planner-theme);
@include mat.table-theme($workout-planner-theme);
@include mat.table-color($workout-planner-theme);
