html {
  overflow-y: scroll;
}

body {
    padding-right: 0px !important;
}

.icon {
    cursor: pointer;
    color: #808080;
}

.op-alert {
    display: none;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
}